{% load static %}
<!DOCTYPE html>
<html>
<head>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDAo8PkNaqqnc2aG32yB5-PdxCr2ziOGLM&callback=initMap"
    async defer></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>


    <script src="{% static 'js/google_maps.js' %}"></script>


    {% if title %}
        <title style="font-weight: bold">CNIS Blog - {{ title }}</title>
    {% else %}
        <title>CNIS Blog</title>
    {% endif %}
</head>
<body>
    <nav>
        <div class="nav-wrapper black">
            <a href="/" class="brand-logo" style="margin-left: 20px; font-weight: bold;"><i class="material-icons">directions_walk</i>Hikers Turf</a>
            {% if user.is_authenticated %}
                <ul id="nav-mobile" class="right hide-on-med-and-down headnav">
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Founders</a></li>
                    <li><a href="#">Hello, {{ user.username }}</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                </ul>
            {% else %}
                <ul id="nav-mobile" class="right hide-on-med-and-down headnav">
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Founders</a></li>
                    <li><a href="{% url 'social:begin' 'google-oauth2' %}">Login</a></li>
                 </ul>
            {% endif %}

        </div>
    </nav>

    <div>
        {% block content %}
        {% endblock %}
    </div>

    <script>
        $(document).ready(function(){
            $('.modal').modal();
            $('.datepicker').pickadate();
            $('select').formSelect();
            $('.timepicker').pickatime();
        });

    </script>



</body>


</html>
