{% load static %}
<!DOCTYPE html>
<html>
<head>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{% static 'cnisblog/main.css' %}">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    {% if title %}
        <title>CNIS Blog - {{ title }}</title>
    {% else %}
        <title>CNIS Blog</title>
    {% endif %}
</head>
<body>
    <nav class="grey darken-4">
        <div class="nav-wrapper grey darken-4 container">
            <a href="#" class="brand-logo" style="margin-left: 20px;"><i class="material-icons">cloud_queue</i>LBYCLDS</a>
             <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="#">Sign Up</a></li>
                <li><a href="#">Login</a></li>
             </ul>
        </div>
    </nav>

    <div class="row">
        <div class="col s4">
            <div class="">
                <div class="card-panel white z-depth-1">
                  <div class="row valign-wrapper">
                    <div class="col s4">
                      <img src="{% static 'images/gmail.jpg' %}" class="responsive-img">
                    </div>
                    <div class="col s8">
                        <div class="section">
                            <h5> <i class="material-icons">cloud_queue</i><a href="#" style=""> Gmail </a></h5>
                        </div>
                      <span class="black-text">
                        Google Email API
                      </span>
                    </div>
                  </div>
                </div>
            </div>

            <div class="">
                <div class="card-panel white z-depth-1">
                  <div class="row valign-wrapper">
                    <div class="col s4">
                      <img src="{% static 'images/gmail.jpg' %}" class="responsive-img">
                    </div>
                    <div class="col s8">
                        <div class="section">
                            <h5> <i class="material-icons">cloud_queue</i><a href="#" style=""> Calendar </a></h5>
                        </div>
                      <span class="black-text">
                        Google Calendar API
                      </span>
                    </div>
                  </div>
                </div>
            </div>

            <div class="">
                <div class="card-panel white z-depth-1">
                  <div class="row valign-wrapper">
                    <div class="col s4">
                      <img src="{% static 'images/gmail.jpg' %}" class="responsive-img">
                    </div>
                    <div class="col s8">
                        <div class="section">
                            <h5> <i class="material-icons">cloud_queue</i><a href="#" style=""> Document </a></h5>
                        </div>
                      <span class="black-text">
                        Google Docs API
                      </span>
                    </div>
                  </div>
                </div>
            </div>

            <div class="">
                <div class="card-panel white z-depth-1">
                  <div class="row valign-wrapper">
                    <div class="col s4">
                      <img src="{% static 'images/gmail.jpg' %}" class="responsive-img">
                    </div>
                    <div class="col s8">
                        <div class="section">
                            <h5> <i class="material-icons">cloud_queue</i><a href="#" style=""> Sheets </a></h5>
                        </div>
                      <span class="black-text">
                        Google Sheets API
                      </span>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="col s8">
            {% block content %}
            {% endblock %}
        </div>

    </div>


</body>
</html>
