.headnav a:hover{
    background-color: white;
    color: #212121;
}

.welcome {
    background: url('/static/images/sectiononebg.jpg');
    background-size: cover;
    height: 500px;
    color: white;
}

.aboutus {
    background: url('/static/images/review-bg.jpg');
    background-size: cover;
    height: 500px;
    color: white;
}
